@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --cyan-alpha: hsla(178, 100%, 50%, 0.4);
  --very-dark-blue-body: hsl(217, 54%, 11%); /* body BG */ 
  --very-dark-blue-card: hsl(216, 50%, 16%); /* card BG */
  --very-dark-blue: hsl(215, 32%, 27%); /* line */
  --white: hsl(0, 0%, 100%);
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--very-dark-blue-body);
  color: var(--white);
  font-family: 'Outfit', sans-serif;
  display: grid;
  place-items: center;
}

* {
  box-sizing: border-box;
}

.card {
  background-color: var(--very-dark-blue-card);
  width: 250px;
  border-radius: 12px;
  padding: 16px;
}

.cube-wrapper {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  height: fit-content;
  cursor: pointer;
}

.cube-wrapper img.cube {
  width: 100%;
  height: auto;
  position: relative;
}

.cube-wrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  top: 0; 
  left: 0;
  z-index: 1;
  background-color: var(--cyan-alpha);
  opacity: 0;
  transition: 0.3s;
}

.cube-wrapper:hover::before {
  opacity: 1;
}

.cube-wrapper img.eye {
  position: absolute;
  width: 30px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  transition: 0.3s;
  opacity: 0;
}

.cube-wrapper:hover img.eye {
  opacity: 1;
}

h1 {
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.2s;
}

h1:hover {
  color: var(--cyan);
}

p {
  color: var(--soft-blue);
  font-size: 13px;
}

.icon-infos {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.ethereum, .days-left {
  display: flex;
  white-space: nowrap;
  gap: 6px;
  align-items: center;
}

.ethereum {
  color: var(--cyan);
}

.ethereum img {
  width: 8px;
}

.days-left {
  color: var(--soft-blue);
}

.days-left img {
  width: 14px;
}

.card-footer {
  border-top: 1px solid var(--very-dark-blue);
  margin-top: 16px;
  padding-top: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
}

.card-footer span {
  color: var(--soft-blue);
}

.avatar-wrapper {
  width: 26px;
  height: 26px;
  border: 1px solid var(--very-dark-blue);
  border-radius: 50%;
  overflow: hidden;
  color: var(--soft-blue);
}

.avatar-wrapper img {
  width: 26px;
  height: 26px;
}

span.name {
  color: var(--white);
  transition: 0.3s;
  cursor: pointer;
}

span.name:hover {
  color: var(--cyan);
}

footer {
  text-align: center;
}

footer a {
  color: var(--white);
}